<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="Flask,Server,Example,Login,Register,Messaging">
        <meta name="description" content="A test flask website example which has a system for logging in,registering,and messaging">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name=" theme-color" content="#04aa6d">
        <title>Website</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="topnav">
            <a class = "active" href="/">Main Page</a>
            <a href='/roomselect'>Chat!</a>
            <a href='/register' class="userform">Register</a>
            <a href='/login' class="userform">Login</a>
            <a href="/logout" class="signedin">Log out</a>
            <a class="signedin" href="#"></a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
        <!-- <script src="/static/confetti.js" type="module"></script> -->
        <div class="content">
        {% block content %}{% endblock %}
        </div>
        <script src="/static/nav.js"></script>
    </body>
</html>