{% extends 'base.html' %}
{% block content %}
<div style="display:block" class = "jumbotron text-center">
	<h1> Welcome to my chat website!</h1><br>
	<p>If you have no account, you can <a href="/register">sign up</a>! It's free! If you already have an account you can <a href="/login">login</a>.</p>
	<p>If you have an account, you can chat with your friends, earn coins, and use them to play games. (Games are currently in development)</p>
	<p>This website was created by Minglang.</p>
</div>
{% endblock %}
{% block title %}Home{% endblock %}
