{% extends 'base.html' %}
{% block content %}
<h1>{{ type }}</h1>
<br>
<form method = "post">
    <label for = "name"> Name: </label><br>
    <input type="text" id="name" name="name" required><span></span><br>
    <label for="pass"> Password: </label><br>
    <input type="password" id="pass" name="password" minlength="8" placeholder="least 8 characters" required><span></span><br><br>
    {% if email %}
    <label for = "email"> Email: </label><br>
    <input type="text" id="email" name="email" required><span></span><br>
    {% endif %}
    {% if otp %}
    <label for = "otp"> OTP: </label><br>
    <input type="text" id="otp" name="otp" required><span></span><br>
    {% endif %}
    <input type="submit" value="Submit">
</form>
{% endblock %}