{% extends 'base.html' %}
{% block content %}
<script src="/static/game.js"></script>
<p>Sorry, but games are currently being developed.</p>
<p>So, the game you are currently seeing is not playable.</p>
<noscript>Actually even if it was developed, you still wouldn't see it, as you haven't enabled javascript.</noscript>
<p>Art was created by Daniel Eddeland. </p><a href="https://opengameart.org/content/lpc-farming-tilesets-magic-animations-and-ui-elements">See the art here.</a>
<div id = "phaser-game"></div>
{% endblock %}
{% block title %}Play a game{% endblock %}
