{% extends 'base.html' %}
{% block content %}
<h1> Feed </h1>
<button type="button" onclick="window.location.reload(1);">Refresh feed</button>
<br><a href = "/post/">Post</a>
{% if feed %}
{% for title, user, content, time in feed %}
<hr>
<div class = "border">
<h2> {{ title }}</h2>
<h3> - {{ user }}, on {{ time }}</h3>
<br> <p> {{ content }} </p>
</div>
{% endfor %}
{% else %}
<p> Huh, weird. There isn't anything in the feed. </p>
{% endif %}
{% endblock %}
{% block title %} New Topics {% endblock %}
