{% extends 'base.html' %}
{% block content %}
<div class="border">
    <div style="display: flex;
    column-gap:15%">
    {% if friend %}
    <form method="post"><input type="submit" value="&#10060;"></form>
    {% endif %}
    <h1>{{ name }}</h1>
    {% if not isblocked %}
    <h1><a href={{ "/block/" + name}}>Block</a></h1>
    {% else %}
    <h1><a href={{ "/unblock/" + name }}>Unblock</a></h1>
    {% endif %}
    <div style="right:5;display:block">
        <h1><img src="/static/coinimg.png" alt="An image of a coin."> {{ coins }}</h1>
    </div>
    </div>
</div>
<h2>Bio</h2>
<pre>{{ bio|safe }}</pre>
<h2>Friends</h2>
<ul>
    {% if friends  %}
    {% for f in friends%}
    <li class ="border"><a href={{ "/users/"+f }}>{{ f }}</a></li>
    {% endfor %}
    {% else %}
    <p>This user does not have any friends</p>
    {% endif %}
</ul>
{% endblock %}
{% block title %}{{ name + "'s profile" }}{% endblock %}
